## [Kaggleで使えるFeather形式を利用した特徴量管理法](https://amalog.hateblo.jp/entry/kaggle-feature-management)

このFeather形式を利用し、特徴量を意味のあるカタマリごとに分割して保存することを目指します。

In [1]:
import numpy as np
import pandas as pd
import feather

In [2]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

print(train.shape)
train.head(3)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
! python titanic.py

[FamilySize] start
[FamilySize] done in 0 s
[AgeGroup] start
[AgeGroup] done in 0 s

In [15]:
def load_datasets(feats):
    dfs = [feather.read_dataframe('features/{}_train.ftr'.format(f)) for f in feats]
    X_train = pd.concat(dfs, axis=1)
    dfs = [feather.read_dataframe('features/{}_test.ftr'.format(f)) for f in feats]
    X_test = pd.concat(dfs, axis=1)
    return X_train, X_test

feats = ['FamilySize', 'AgeGroup']
X_train, X_test = load_datasets(feats)

In [16]:
X_train.head()

   family_size age_group
0            2     youth
1            2     adult
2            1     adult
3            2     adult
4            1     adult